#root {
    height: 100%;
}
.page-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.layout {
    flex: 1 0 auto;
    background-color: #fff;
    padding: 25px;
}